<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">

<!-- 	MongoDB connection configuration -->
	<context-param>
		<param-name>mongoServer</param-name>
		<param-value>127.0.0.1</param-value>
	</context-param>
	<context-param>
		<param-name>mongoPort</param-name>
		<param-value>27017</param-value>
	</context-param>
	<context-param>
		<param-name>mongoDBName</param-name>
		<param-value>kanbanikdb</param-value>
	</context-param>
	<context-param>
		<param-name>mongoAuthenticationRequired</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>mongoUser</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>mongoPassword</param-name>
		<param-value></param-value>
	</context-param>

	<listener>
		<listener-class>com.googlecode.kanbanik.server.KanbanikContextListener
		</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.googlecode.kanbanik.server.MigrateDbListener
		</listener-class>
	</listener>

    <servlet>
        <servlet-name>kanbanikApi</servlet-name>
        <servlet-class>com.googlecode.kanbanik.api.KanbanikApi</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>kanbanikApi</servlet-name>
        <url-pattern>/api</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>kanbanikEvents</servlet-name>
        <servlet-class>com.googlecode.kanbanik.push.KanbanikEvents</servlet-class>
    </servlet>

    <servlet>
        <description>AtmosphereServlet</description>
        <servlet-name>AtmosphereServlet</servlet-name>
        <servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
        <!--<async-supported>true</async-supported>-->
        <load-on-startup>0</load-on-startup>
        <init-param>
            <param-name>org.atmosphere.cpr.packages</param-name>
            <param-value>com.googlecode.kanbanik.push</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>AtmosphereServlet</servlet-name>
        <url-pattern>/events/*</url-pattern>
    </servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>kanbanik.html</welcome-file>
	</welcome-file-list>

</web-app>
