.centered-label {
	text-align: center;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

table {
	vertical-align: top;
	width: 0px;
}

tr {
	vertical-align: top;
	width: 0px;
}

td {
	width: 0px;
	vertical-align: top;
}

body {
	background-color: #e1e1e1;
}

.imageButtonStyle {
	width: 100%;
	height: 10px;
	vertical-align: middle;
	text-align: center;
	margin-right: 2px;
}

.balanced-table {
	width: 100%;
	height: 100%;
}

.not-balanced-table {
}

.gwt-TabBarItem {
	width: 130px;
}

.gwt-TabBarItem-wrapper {
	width: 130px;
}

.gwt-TabBarFirst-wrapper {
	width: 10px;
}

.gwt-TabBarRest-wrapper {
	width: 100%;
}

.task-class-of-service-EXPEDITE {
	width: 100%;
	min-height: 50%;
	background-color: #f80070;
}

.task-class-of-service-FIXED_DELIVERY_DATE {
	width: 100%;
	min-height: 50%;
	background-color: #ffeb00;
}

.task-class-of-service-STANDARD {
	width: 100%;
	min-height: 50%;
	background-color: #83ff00;
}

.task-class-of-service-INTANGIBLE {
	width: 100%;
	min-height: 70%;
	background-color: #65b1f8;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 800px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

/** RICH TEXT TOOLBAR */
.RichTextToolbar {
	background: #E2E2E2;
	padding: 5px;
	margin: 0px;
	/*border: red 1px solid;*/
}

.RichTextToolbar .gwt-ToggleButton {
	background: #F4F4F4;
	border: 1px outset #ccc;
}

.RichTextToolbar .gwt-PushButton {
	background: #F4F4F4;
	border: 1px outset #ccc;
}

.RichTextToolbar .gwt-ToggleButton-up-hovering {
	background: #F4F4F4;
	border-color: #9cf #69e #69e #7af;
}

.RichTextToolbar .gwt-PushButton-up-hovering {
	background: #F4F4F4;
	border-color: #9cf #69e #69e #7af;
}

.RichTextToolbar .gwt-ToggleButton-down {
	background: #D5D5D5;
	border-color: #777777 #777777 #777777 #777777;
}

.RichTextToolbar .gwt-PushButton-down {
	background: #D5D5D5;
	border-color: #777777 #777777 #777777 #777777;
}

.RichTextToolbar .gwt-ToggleButton-down-hovering {
	background: #D5D5D5;
	border-color: #9cf #69e #69e #7af;
}

.RichTextToolbar .gwt-PushButton-down-hovering {
	background: #D5D5D5;
	border-color: #9cf #69e #69e #7af;
}

.RichTextToolbar .gwt-PushButton-up-disabled {
	background: #717171;
	border-color: #B9968F #B9968F #B9968F #B9968F;
}

.RichTextToolbar .gwt-PushButton-down-disabled {
	background: #717171;
	border-color: #B9968F #B9968F #B9968F #B9968F;
}

.RichTextToolbar .gwt-ToggleButton-up-disabled {
	background: #717171;
	border-color: #B9968F #B9968F #B9968F #B9968F;
}

.RichTextToolbar .gwt-ToggleButton-down-disabled {
	background: #717171;
	border-color: #B9968F #B9968F #B9968F #B9968F;
}

.cw-RichText {
	width: 100%;
}
